.logosvg {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/HPE_.svg);
  background-size: 100px 82px;
}

.logos-ibm {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/IBM_.svg);
  background-size: 100px 82px;
}

.logos-iteso {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/Iteso_.svg);
  background-size: 100px 82px;
}

.logos-josecuervo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/Jose-Cuervo_.svg);
  background-size: 100px 82px;
}

.logos-nike {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/Nike_.svg);
  background-size: 100px 82px;
}

.logos-losoffice {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/Los-office_.svg);
  background-size: 100px 82px;
}

.logos-motormexa {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/iconos/Motomexa_.svg);
  background-size: 100px 82px;
}